In [2]:
import numpy as np
import pandas as pd

## Merging and Importing Bank Nifty CSV file.

In [3]:
df1 = pd.read_csv('C://Users/Viper_Pc/Downloads/Stock-Analysis-main/Stock-Analysis-main/Data/NIFTY BANK - HistoricalPE_PBDIV_Data.csv')
df2 = pd.read_csv('C://Users/Viper_Pc/Downloads/Stock-Analysis-main/Stock-Analysis-main/Data/NIFTY BANK_Data.csv')
merged_df = pd.merge(df2, df1, on='Date')
print(merged_df)

             Date      Open      High       Low     Close    P/E   P/B  \
0     12 Aug 2022  38942.45  39088.90  38739.95  39042.30  17.94  2.56
1     11 Aug 2022  38712.95  38932.10  38648.90  38879.85  17.87  2.57
2     10 Aug 2022  38298.85  38402.95  38155.30  38287.85  17.60  2.59
3     08 Aug 2022  37847.35  38302.35  37681.45  38237.40  17.58  2.59
4     05 Aug 2022  37868.25  38150.45  37779.90  37920.60  17.43  2.56
...           ...       ...       ...       ...       ...    ...   ...
5618  07 Jan 2000       NaN       NaN       NaN   1126.90  12.18  1.36
5619  06 Jan 2000       NaN       NaN       NaN   1086.60  11.74  1.31
5620  05 Jan 2000       NaN       NaN       NaN   1055.90  11.41  1.27
5621  04 Jan 2000       NaN       NaN       NaN   1092.00   11.8  1.32
5622  03 Jan 2000       NaN       NaN       NaN   1054.80   11.4  1.27

     Div Yield %
0           0.75
1           0.75
2           0.72
3           0.72
4           0.58
...          ...
5618        2.16
5619        2.24
5620        2.31
5621        2.23
5622        2.31

[5623 rows x 8 columns]

In [4]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5623 entries, 0 to 5622
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         5623 non-null   object
 1   Open         4256 non-null   float64
 2   High         4256 non-null   float64
 3   Low          4256 non-null   float64
 4   Close        5623 non-null   float64
 5   P/E          5623 non-null   object
 6   P/B          5623 non-null   float64
 7   Div Yield %  5623 non-null   object
dtypes: float64(5), object(3)
memory usage: 351.6+ KB

### Checking For Null Values

In [5]:
merged_df.isnull().sum()

Date              0
Open           1367
High           1367
Low            1367
Close             0
P/E               0
P/B               0
Div Yield %       0
dtype: int64

### Droping Null Columns from Bank Nifty File

In [6]:
merged_df.dropna(inplace=True)
merged_df.isnull().sum()

Date           0
Open           0
High           0
Low            0
Close          0
P/E            0
P/B            0
Div Yield %    0
dtype: int64

In [7]:
merged_df.describe()

               Open          High           Low         Close          P/B
count   4256.000000   4256.000000   4256.000000   4256.000000  4256.000000
mean   16326.298790  16466.047171  16163.354852  16315.955028     2.529492
std     9861.139384   9919.350113   9785.840579   9854.340127     0.527581
min     3385.400000   3446.750000   3314.550000   3339.700000     0.970000
25%     8808.162500   8915.500000   8646.000000   8760.775000     2.220000
50%    12563.450000  12671.200000  12458.375000  12558.500000     2.510000
75%    24305.525000  24414.637500  24097.525000  24275.250000     2.880000
max    41234.550000  41829.600000  40829.150000  41238.300000     4.730000

## Importing Different Bank Stocks Present in Nifty.

In [ ]:
axsBank=pd.read_csv("C:/Users/jainam/Stock Analysis/Data/AXISBANK.NS_data.csv")
iciciBank=pd.read_csv("C:/Users/jainam/Stock Analysis/Data/ICICIBANK.NS_data.csv")
indusindBank=pd.read_csv("C:/Users/jainam/Stock Analysis/Data/INDUSINDBK.NS_data.csv")
hdfcBank=pd.read_csv("C:/Users/jainam/Stock Analysis/Data/HDFCBANK.NS_data.csv")
kotakBank=pd.read_csv("C:/Users/jainam/Stock Analysis/Data/KOTAKBANK.NS_data.csv")

In [ ]:
axsBank

In [ ]:
iciciBank

In [ ]:
indusindBank

In [ ]:
kotakBank

In [ ]:
hdfcBank

### Checking For Null Values

In [ ]:
axsBank.isnull().sum()

In [ ]:
kotakBank.isnull().sum()

In [ ]:
iciciBank.isnull().sum()

In [ ]:
indusindBank.isnull().sum()

In [ ]:
hdfcBank.isnull().sum()

In [ ]:
axsBank['Symbol']='AXISBANK'
indusindBank['Symbol']='INDUSINDBK'
kotakBank['Symbol']='KOTAKBANK'
iciciBank['Symbol']='ICICIBANK'
hdfcBank['Symbol']='HDFCBANK'

In [ ]:
merged_df['Symbol']='BankNifty'
merged_df

In [ ]:
# merged_df.drop(['P/E','P/B'],axis=1,inplace=True)
merged_df

In [ ]:
merged_df['Date'] = pd.to_datetime(merged_df['Date'])
filtered_df = merged_df[merged_df['Date'] >= pd.to_datetime('2012-02-01')]
filtered_df

In [ ]:
filtered_df['Date'] = filtered_df['Date'].dt.date
filtered_df['Date'] = filtered_df['Date'].apply(lambda x: x.strftime('%d-%m-%Y'))
filtered_df

## Here We Have Cleaned All The data Files We Needed! Now Let's Save It in actual File.

In [ ]:
filtered_df.to_csv('C:/Users/jainam/Stock Analysis/Data/BANK NIFTY.csv', index=False)
axsBank.to_csv("C:/Users/jainam/Stock Analysis/Data/AXISBANK.NS_data.csv", index=False)
iciciBank.to_csv("C:/Users/jainam/Stock Analysis/Data/ICICIBANK.NS_data.csv", index=False)
indusindBank.to_csv("C:/Users/jainam/Stock Analysis/Data/INDUSINDBK.NS_data.csv", index=False)
kotakBank.to_csv("C:/Users/jainam/Stock Analysis/Data/KOTAKBANK.NS_data.csv", index=False)
hdfcBank.to_csv("C:/Users/jainam/Stock Analysis/Data/HDFCBANK.NS_data.csv", index=False)

In [ ]:
indusindBank